<p>IPSocket.getaddress(Socket.gethostname)</p>
<%= IPSocket.getaddress(Socket.gethostname) %>
<p>Socket.gethostname</p>
<%= Socket.gethostname %>
<p>ENV.fetch("HOSTNAME")</p>
<%= ENV.fetch("HOSTNAME") %>
