<h1>Your secret information</h1>
<p>Make sure no one is behind you, because this is very important info for real</p>

<p>Here is yours credit card number:</p>
<p><%= @credit_card %></p>

<p>Here is yours personal id number:</p>
<p><%= @personal_id %></p>
